<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>

<body>

<!--CONTAINER-->
<div class="container">
    <h1 class="header center orange-text">{{ header }}</h1>
    <h4 class="center light-blue-text">{{ sub_header }}</h4>

   
    <p>Download Image from Docker Hub:</p>
    <ul class="collection with-header">
 <form action="/downimd">
  <label for="user">Image Name:</label><br>
  <input type="text" id="imgname" name="imgname"><br>
  <input type="submit" value="Submit" onclick="$('#loading').show();">
</form>
<div id="loading" style="display:none;"><img src="https://media3.giphy.com/media/3o7bu3XilJ5BOiSGic/200w.webp?cid=ecf05e475j0bsox2uxrvc9isepq5dfsxqpq6pgc33s0oe67a&rid=200w.webp" alt="" />Loading!</div>
    </ul>
</div>

<br>
<br>
<br>
<br>
<br>

<li class="collection-item"><a href="/">Main Menu</a></li>
<li class="collection-item"><a href="/cr8con">Create Container</a></li>
</body>
</html>