<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>

</head>

<body>

<!--CONTAINER-->
<div class="container">
    <h1 class="header center orange-text">{{ header }}</h1>
    <h4 class="center light-blue-text">{{ sub_header }}</h4>

   
    <p>Download Image from Docker Hub:</p>
    <ul class="collection with-header">
 <form action="/downimd">
  <label for="user">Image Name:</label><br>
  <input type="text" id="imgname" name="imgname"><br>
  <input type="submit" value="Submit">
</form>
    </ul>
</div>

<br>
<br>
<br>
<br>
<br>

<li class="collection-item"><a href="/">Main Menu</a></li>
<li class="collection-item"><a href="/cr8con">Create Container</a></li>
</body>
</html>