<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>


</head>

<body>

<!--CONTAINER-->
<div class="container">
    <h1 class="header center orange-text">{{ header }}</h1>
    <h4 class="center light-blue-text">{{ sub_header }}</h4>

        
        
        <li class="collection-item"><a href="/login">Login to DockerHub</a></li>
		<li class="collection-item"><a href="/logout">Logout from DockerHub</a></li>
		<li class="collection-item"><a href="/lstim">List Local Images</a></li>
		<li class="collection-item"><a href="/lstco">List Containers</a></li>
		<li class="collection-item"><a href="/downim">Download Image From Docker Hub</a></li>
		<li class="collection-item"><a href="/cr8con">Create Container</a></li>
		<li class="collection-item"><a href="/push">push Image to Docker Hub</a></li>
		<li class="collection-item"><a href="/delcon">Delete Container</a></li>
		<li class="collection-item"><a href="/delim">Delete Local Image</a></li>
    </ul>
</div>

<br>
<br>
<br>
<br>
<br>

</body>
</html>