<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>

<body>

<!--CONTAINER-->
<div class="container">
    <h1 class="header center orange-text">{{ header }}</h1>
    <h4 class="center light-blue-text">{{ sub_header }}</h4>

    <p>Docker Hub Login:</p>
    <ul class="collection with-header">
  <form action="/pushd" method="post">
    <p>Choose Image you want to push from list:</p>
		{% for image in images %}
            <input type="radio" id="imgname" name="imgname" value="{{ image.0 }}">
			<label for="imgname">{{ image.0 }}{{ image.1 }}</label><br>
         {% endfor %}
		</div> 
  <label for="tagname">what tag / version do you want to push it as:</label>
  <input type="text" id="tagname" name="tagname"><br>
  <label for="user">your docker login name is:</label>
  <input id="user" name="user" value={{ username }}><br>
  <label for="repo">Enter you docker repository name</label>
  <input type="text" id="repo" name="repo"><br>
   <input type="submit" value="Submit" onclick="$('#loading').show();">
</form>
<div id="loading" style="display:none;"><img src="https://media3.giphy.com/media/3o7bu3XilJ5BOiSGic/200w.webp?cid=ecf05e475j0bsox2uxrvc9isepq5dfsxqpq6pgc33s0oe67a&rid=200w.webp" alt="" />Loading!</div>
    </ul>
</div>

<br>
<br>
<br>
<br>
<br>

<li class="collection-item"><a href="/">Main Menu</a></li>
<li class="collection-item"><a href="/login">Login to DockerHub</a></li>
</body>
</html>